:root {
  --background: #ededed;
  --foreground: #0a0a0a;
  --button-color: var(--background);
  --button-border: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --button-color: var(--background);
    --button-border: var(--foreground);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 1.5rem;
  margin: 1rem 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a:hover {
  background-color: var(--foreground);
  color: var(--background);
  cursor: pointer;
  box-shadow:
          0 0 30px 15px var(--foreground),
          0 0 45px 30px #9f9aff,
          0 0 60px 45px #322440;
  border: 2px solid var(--background);
}

a {
  font-size: 1.5rem;
  font-family: Arial, sans-serif; /* Eliminé "Al Bayan" para descartar problemas */
  font-weight: bold;
  padding: 1rem;
  background-color: var(--button-color);
  color: var(--button-border);
  border: 2px solid var(--button-border);
  border-radius: 20px;

  /* Asegurar centrado total */
  display: flex; /* Cambiado de inline-flex a flex */
  justify-content: center;
  align-items: center;
  text-align: center; /* Asegura que el texto esté centrado */
  line-height: normal; /* Evita problemas con altura de línea */
  cursor: pointer;
  transition: .3s;
  text-decoration: none;
}